<div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h1>Zmiana hasla</h1>

            <div class="alert alert-danger" *ngIf="initialized && !key">
                <strong>Brakuje klucza zmiany hasla</strong>
            </div>

            <div class="alert alert-warning" *ngIf="key && !success">
                <span>Wybierz nowe haslo</span>
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <span>Twoje haslo nie moze zostac zmienione. Pamietaj, ze prosba o zmiane hasla jest aktywna przez 24h.</span>
            </div>

            <div class="alert alert-success" *ngIf="success">
                <span><strong>Twoje haslo zostalo zmienione.</strong> Prosze </span>
                <a class="alert-link" (click)="login()">zaloguj sie</a>.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                Haslo i potwierdzenie hasla sa rozne.
            </div>

            <div *ngIf="key && !success">
                <form name="form" role="form" (ngSubmit)="finishReset()" [formGroup]="passwordForm">
                    <div class="form-group">
                        <label class="form-control-label" for="newPassword">Nowe haslo</label>
                        <input type="password" class="form-control" id="newPassword" name="newPassword"
                               placeholder="New password"
                               formControlName="newPassword" #newPassword>

                        <div *ngIf="passwordForm.get('newPassword')!.invalid && (passwordForm.get('newPassword')!.dirty || passwordForm.get('newPassword')!.touched)">
                            <small class="form-text text-danger"
                                   *ngIf="passwordForm.get('newPassword')?.errors?.required">
                                Haslo jest wymagane.
                            </small>

                            <small class="form-text text-danger"
                                   *ngIf="passwordForm.get('newPassword')?.errors?.minlength">
                                Twoje haslo musi posiadac przynajmniej 4 znaki.
                            </small>

                            <small class="form-text text-danger"
                                   *ngIf="passwordForm.get('newPassword')?.errors?.maxlength">
                                Twoje haslo nie moze zawierac wiecej niz 50 znakow.
                            </small>
                        </div>

                        <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword')!.value"></jhi-password-strength-bar>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label" for="confirmPassword">Potwierdzenie nowego hasla</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                               placeholder="Confirm the new password"
                               formControlName="confirmPassword">

                        <div *ngIf="passwordForm.get('confirmPassword')!.invalid && (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)">
                            <small class="form-text text-danger"
                                   *ngIf="passwordForm.get('confirmPassword')?.errors?.required">
                                Potwierdzenie hasla jest wymagane.
                            </small>

                            <small class="form-text text-danger"
                                   *ngIf="passwordForm.get('confirmPassword')?.errors?.minlength">
                                Potwierdzenie twojego hasla musi zawierac przynajmniej 4 znaki.
                            </small>

                            <small class="form-text text-danger"
                                   *ngIf="passwordForm.get('confirmPassword')?.errors?.maxlength">
                                Potwierdzenie twojego hasla nie moze zawierac wiecej niz 50 znakow.
                            </small>
                        </div>
                    </div>

                    <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary">Zmien haslo</button>
                </form>
            </div>
        </div>
    </div>
</div>
