<div>
    <div class="row justify-content-center">
        <div class="col-md-8" *ngIf="account$ | async as account">
            <h2>Haslo dla [<strong>{{ account.login }}</strong>]</h2>

            <div class="alert alert-success" *ngIf="success">
                <strong>Haslo zmienione!</strong>
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <strong>Wystapil problem!</strong> Haslo nie moglo zostac zmienione.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                Haslo oraz potwierdzenie hasla, nie pasuja do siebie!
            </div>

            <form name="form" role="form" (ngSubmit)="changePassword()" [formGroup]="passwordForm">
                <div class="form-group">
                    <label class="form-control-label" for="currentPassword">Aktualne haslo</label>
                    <input type="password" class="form-control" id="currentPassword" name="currentPassword"
                           placeholder="Current password"
                           formControlName="currentPassword">

                    <div *ngIf="passwordForm.get('currentPassword')!.invalid && (passwordForm.get('currentPassword')!.dirty || passwordForm.get('currentPassword')!.touched)" >
                        <small class="form-text text-danger"
                               *ngIf="passwordForm.get('currentPassword')?.errors?.required">
                            Twoje haslo jest wymagane.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="newPassword">Nowe haslo</label>
                    <input type="password" class="form-control" id="newPassword" name="newPassword"
                           placeholder="New password"
                           formControlName="newPassword">

                    <div *ngIf="passwordForm.get('newPassword')!.invalid && (passwordForm.get('newPassword')!.dirty || passwordForm.get('newPassword')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="passwordForm.get('newPassword')?.errors?.required">
                            Twoje haslo jest wymagane.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="passwordForm.get('newPassword')?.errors?.minlength">
                            Twoje haslo musi posiadac przynajmniej 4 znaki.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="passwordForm.get('newPassword')?.errors?.maxlength">
                            Twoje haslo nie moze byc dluzsze niz 50 znakow.
                        </small>
                    </div>

                    <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword')!.value"></jhi-password-strength-bar>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="confirmPassword">Potwierdzenie nowego hasla</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                           placeholder="Confirm the new password"
                           formControlName="confirmPassword">

                    <div *ngIf="passwordForm.get('confirmPassword')!.invalid && (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="passwordForm.get('confirmPassword')?.errors?.required">
                            Potwierdzenie hasla jest wymagane.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="passwordForm.get('confirmPassword')?.errors?.minlength">
                            Potwierdzenie twojego hasla musi zawierac przynajmniej 4 znaki.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="passwordForm.get('confirmPassword')?.errors?.maxlength">
                            Potwierdzenie twojego hasla nie moze zawierac wiecej niz 50 znakow.
                        </small>
                    </div>
                </div>

                <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>
