<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Zmien swoje haslo</h1>

            <jhi-alert-error></jhi-alert-error>

            <div class="alert alert-warning" *ngIf="!success">
                <span>Wprowadz adres e-mail, ktorego uzyles do rejstracji.</span>
            </div>

            <div class="alert alert-success" *ngIf="success">
                <span>Sprawdz swojego maila, by dowiedziec sie jak dokonczyc proces rejstracji.</span>
            </div>

            <form *ngIf="!success" name="form" role="form" (ngSubmit)="requestReset()" [formGroup]="resetRequestForm">
                <div class="form-group">
                    <label class="form-control-label" for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Your email"
                           formControlName="email" #email>

                    <div *ngIf="resetRequestForm.get('email')!.invalid && (resetRequestForm.get('email')!.dirty || resetRequestForm.get('email')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="resetRequestForm.get('email')?.errors?.required">
                            Twoj email jest wymagany.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="resetRequestForm.get('email')?.errors?.email">
                            Wpisany email zawiera bledy.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="resetRequestForm.get('email')?.errors?.minlength">
                           Twoj email musi posiadac przynajmniej 5 znakow.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="resetRequestForm.get('email')?.errors?.maxlength">
                            Twoj email nie moze zawierac wiecej niz 100 znakow.
                        </small>
                    </div>
                </div>

                <button type="submit" [disabled]="resetRequestForm.invalid" class="btn btn-primary">Zmien</button>
            </form>
        </div>
    </div>
</div>
